.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}
.thead {
  position: sticky;
  z-index: 100;
}
.trhead {
  background: #2b2d42;
}
.th {
  border: 1px solid rgb(19, 18, 18);
  padding: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}
.trbody {
  background: #2b2d38;
}
.td {
  padding: 8px;
  border: 1px solid rgb(19, 18, 18);
}
caption {
  margin-bottom: 10px;
}
