.grid-container {
  margin-left: 29px;
  max-width: 90em;
  padding: 8px 8px;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1.5rem;
  padding: 10px 10px;
  justify-items: center;
}
.filters {
  display: flex;
  gap: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 1rem;
  flex: 1;
  flex-wrap: wrap;
  animation: form-load 400ms ease-out;
}
.form-group > input {
  padding: 0.7rem;
  border-radius: 10px;
  margin: 0 0.5rem;
  border: none;
  color: var(--text-color-primary);
  background-color: var(--form-back-primary);
  outline: none;
}
.searchbox {
  width: 300px;
  height: 20px;
  background-color: var(--form-back-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--text-color-primary);
}
.searchbox > i {
  font-size: 16px;
  color: var(--text-color-primary);
}
.searchbox > input {
  flex: 1;
  color: var(--text-color-primary);
  background-color: var(--form-back-primary);
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
}
.searchbox > select {
  flex: 1;
  color: var(--text-color-primary);
  background-color: var(--form-back-primary);
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
}
.searchbox ::placeholder {
  color: var(--text-color-primary);
  opacity: 0.2;
}
.searchbox::-webkit-search-decoration {
  display: none;
}
.searchbox > input[type="date"]::placeholder {
  opacity: 0.2;
}
::-webkit-datetime-edit {
  color: var(--text-color-primary);
  opacity: 0.2;
}

:focus::-webkit-datetime-edit {
  color: var(--text-color-primary);
  opacity: 0.2;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
  cursor: pointer;
}
@keyframes form-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 550px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .grid-container {
    margin-right: 0;
    margin-left: 5px;
  }
  .searchbox {
    margin-right: 0;
    margin-left: 5px;
  }
}
