._total {
  text-align: center;
  font-weight: bold;
  color: var(--text-color-primary);
}
._info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
}
._confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fb5870;
}
._recovered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(32, 221, 64);
}
._deceased {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--deaceased-color);
}
.carousel {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.carousel._info {
  width: 100%;
}
.carousel_track-container {
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}
.carousel_button i {
  width: 12px;
}
.carousel_button_left {
  left: -15px;
  padding-right: 15px;
}
.carousel_button_right {
  right: -15px;
}
.carousel_nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel_indicator {
  border: 1px solid var(--text-color-primary);
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  margin-top: 20px;
  background: var(--text-color-secondary);
}
.carousel_indicator.current-slide {
  background: var(--text-color-primary);
}
.delta_data {
  animation: delta-load 200ms ease-in;
}
@keyframes delta-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.total_data {
  animation: total-load 200ms ease-in;
}
@keyframes total-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delta7_data {
  animation: delta7-load 200ms ease-in;
}
@keyframes delta7-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.angle-icon-color {
  color: var(--text-color-primary);
}
