.nav-bar {
  position: sticky;
  top: 0px;
  width: 97.9%;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--navbar-color);
  z-index: 9999;
}
.flex-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.flex-content > div > i {
  margin-right: 5px;
  color: var(--text-color-primary);
}
.pointer {
  cursor: pointer;
  color: var(--text-color-primary) !important ;
}
.link-color {
  color: var(--text-color-primary) !important;
}
.flex-content > div > p span::before {
  content: "Wash your hands frequently";
  animation: animate infinite 3s;
  padding-left: 10px;
}
