* {
  margin: 0;
  padding: 0;
  outline: none !important;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #011627;
  --secondary-color: #20233f;
  --text-color-primary: white;
  --text-color-secondary: black;
  --form-back-primary: #2b2d42;
  --table-row-head: #20233f;
  --cell-background: #20233f;
  --navbar-color: #0b2235;
  --pagination-btn-color: var(--secondary-color);
}
.white-mode {
  --primary-color: white;
  --secondary-color: white;
  --text-color-primary: rgb(44, 40, 40);
  --text-color-secondary: white;
  --form-back-primary: #f2f2f4;
  --table-row-head: #ebecf5;
  --cell-background: #ebecf5;
  --navbar-color: #ebecf5;
  --pagination-btn-color: #ebecf5;
}

body {
  width: 100vw !important;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-color) !important;
  color: white !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: nav-top 700ms linear;
}

#myBtn:hover {
  background-color: #555;
}

@keyframes nav-top {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
