* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

body {
  width: 100vw !important;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto !important;
  background-color: #011627 !important;
  color: white !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff8000;
}
